In [ ]:
import pandas as pd
import numpy as np
#coding=utf-8

In [7]:
df = pd.read_excel("/Users/yehao/Desktop/user.xls",header=0, encoding='ISO-8859-1')
#df

In [10]:
columns = df.columns
index = df.index
#index
columns

Index([u'userId', u'number', u'code', u'value'], dtype='object')

In [13]:
head5 = df.head(5)
head5

                             userId  number code     value
0  0001181fb5de49b2825373adc88e93bd       1   a1  0.627432
1  00017f1da43040c58621d51c2bc0c642       2   a2  0.390185
2  0001e35b16e042da9f3288a8775e861f       3   a3  0.234221
3  000283447df14b759f642da8782e9e55       4   a4  0.227121
4  0002bcf1f0084c6db299e2744a0dc4cc       5   a5  0.884254

In [19]:
#head5.pop("number")  #弹出一列数据
head5

                             userId code     value
0  0001181fb5de49b2825373adc88e93bd   a1  0.627432
1  00017f1da43040c58621d51c2bc0c642   a2  0.390185
2  0001e35b16e042da9f3288a8775e861f   a3  0.234221
3  000283447df14b759f642da8782e9e55   a4  0.227121
4  0002bcf1f0084c6db299e2744a0dc4cc   a5  0.884254