In [9]:
import pandas as pd;
import numpy as np;
import sys;
# -*- coding: UTF-8 -*-

reload(sys);
sys.setdefaultencoding('utf8')

In [10]:
filePath="/Users/yehao/Desktop/artisan_district2.xlsx";
print filePath;
df = pd.read_excel(filePath,header=None, skiprows = [0,1],encoding = 'utf8');
it = df.iloc[1];
print it[0];

In [11]:
# for index, row in df.iterrows():
#     print row[0].replace("#2","");
def valuation_formula(x):
    return x.replace("#2","");

new_df = df.apply(lambda row: valuation_formula(row[0]), axis=1);

In [12]:
print new_df.iloc[1];

In [13]:
import MySQLdb;


def opt_mysql(sql):
    # 打开数据库连接
    db = MySQLdb.connect("localhost", "root", "yehao123456", "yehao_test", charset='utf8' );
    
    # 使用cursor()方法获取操作游标 
    cursor = db.cursor()
   
    # SQL 插入语句
      
    try:
       # 执行sql语句
        print sql;
        cursor.execute(sql)
        # 提交到数据库执行
        db.commit()
    except:
        # Rollback in case there is any error
        db.rollback()
    # 关闭数据库连接
    db.close();

In [14]:
# print len(df);
# print type(new_df)
# print new_df

### 重新设置列名建立列索引
df.columns=['artisanId', 'latitude', 'longitude', 'address']
# print df['artisanId']

### 指定行索引数据
seriel1 = df.iloc[0]
print type(seriel1[0]), type(seriel1[1]), type(seriel1[2])

# print type(seriel1['latitude'])

In [15]:
# sql = 'INSERT INTO artisan_address(artisan_id,latitude, longitude, address) values'
# for index, row in df.iterrows(): 
#     s = sql + '("'+ str(row[0]).replace('#2', '') + '",'+ str(row[1]) + ','+ str(row[2]) +',"' + row[3] +'");'
#     print s

##### 填充
df['address'].fillna("暂无")
# print df['address'].isnull;

0                                      江苏省南京市秦虹路213号莺虹苑小区
1                                     北京市朝阳区崔各庄镇丽苑小区马泉营1区
2                                          北京市阜成路8号阜成路8号院
3                                   广东省广州市天河区黄村街道黄村东路126号
4       上海市浦东南码头路240弄、南码头路260弄、沂南路42弄、沂南路38-40号、44-48号...
5                                               北京市卢沟桥莲香园
6                                            北京市来广营善各庄周转房
7                                            北京市卢沟桥路五里店南里
8                                 北京市丰台东路西南三环夏家胡同纪家庙育菲园东里
9                                           北京市垡头村垡头南里六号院
10                                             重庆市巴南区鱼洞街道
11                                  陕西省西安市鱼斗路158号复地优尚国际一期
12                                  重庆市龙溪街道红黄路441号正升·青青丽苑
13                                  北京市垡头东路285号北京市银明光学眼镜厂
14                                     上海市漕溪路125弄1-16号金谷园
15                                      天津市程盛道与雪山路交汇处好美嘉园
16                               上海市闵行区新虹街道申昆路1899号星月虹桥中心
17                              北京市大兴黄村镇兴丰大街大兴中医院对面清源西里小区
18                                      湖北省武汉市工业四路19号欣城社区
19                                       北京市广渠路21号金海国际-南区
20                                        上海市苏家浜路435弄宝顾佳苑
21                                          上海市通和新村通河一村小区
22                                      上海市中山南二路1007号中煌大厦
23                            北京市朝阳北路与金榆路交汇处邓家窑通达四惠家居建材广场
24                            重庆市九龙坡杨家坪黄杨路102号(黄沙溪立交旁)盛美居
25                                      北京市东辛店中街北150米鑫盛公寓
26                                    上海市双单路718弄1-10号永盛公寓
27                                        山东省临沂市思源路附近锦城花园
28                          浙江省杭州市登云路518号西城时代商务中心1幢1层元都酒店
29                                     北京市石景山区广宁街道麻峪南街49号
                              ...
5473                                   北京市朝阳门外大街乙6号朝外SOHO
5474                              上海市灵山路2000弄1-39号金杨新村六街坊
5475                                   北京市丰台区卢沟桥街道大成路天泰大厦
5476                                  浙江省杭州市北沙西路150号东厦·东港
5477                                北京市南四环十八里店南桥吕家营中街宜家佳苑
5478                                湖北省武汉市江汉区汉兴街街道长港路212号
5479                              四川省成都市龙灯山路一段381号晋元·鸿阁1号
5480                                 北京市金台路十字路口的东南方向延静里小区
5481                            北京市西城区椿树街道北京粤财大厦庄胜广场中央办公楼
5482                               广东省广州市白云区黄石街道江夏大塘大街98号
5483                              广东省广州市白云区太和镇黄庄南路85号高领大厦
5484                           浙江省杭州市新街镇红山大道与垦辉六路交叉口重汽嘉泽苑
5485                                         广东省深圳市龙华区滙龙苑
5486                                         湖北省襄阳市宜城市小河镇
5487                                 广东省广州市海珠区南洲街道南洲路316号
5488                                     北京市定福庄东街5号楼定福庄东街
5489                                 湖北省武汉市蔡甸区沌阳街道蔡家花园还建楼
5490                                 北京市朝阳区崔各庄镇东辛店中街yoyo号
5491                                 上海市虹口长春路158弄1-7号虹叶花苑
5492                                      上海市七宝镇联明村联盛花苑北区
5493                            广东省深圳市宝安区西乡街道固戍二路115号间头新村
5494                                    广东省深圳市民治大道民德路南景新村
5495                                    北京市顺义区旺泉街道顺于路西辛南区
5496                                     北京市后沙峪裕民大街三山新新家园
5497                                        北京市宋庄路11号天怡晴园
5498                                   浙江省杭州市万塘路588号古荡湾新村
5499                             江苏省南京市文体路与集庆门大街交汇处东升沿一小区
5500                             上海市浦东新区东明路街道华夏西路锦翠苑(上浦路)
5501                    北京市朝阳区东坝镇北京市朝阳区东坝地区单店社区卫生服务站金隅悦和园
5502                                  北京市朝阳区崔各庄镇东辛店中街160号
Name: address, Length: 5503, dtype: object

In [16]:
### 打印sql
fileName = open("artisan_district_sql.sql", "w")
sql = 'INSERT INTO artisan_district(artisan_id,latitude, longitude, address) values'
for i in range(0, len(df)):
    if df.iloc[i][3] is None or df.iloc[i][3]== '':
        print df.iloc[i]
    else:  
        s = '("'+ str(df.iloc[i][0]).replace('#2', '') + '",'+ str(df.iloc[i][1]) + ','+ str(df.iloc[i][2]) +',"' + df.iloc[i][3] +'");'
        try:
            print s
            fileName.write(sql+ s)
        except IOError:
            print IOError
            fileName.close()
            

if not fileName.closed:
    fileName.close()
print "写入文件结束sql"

NameError: name 'fileNamen' is not defined